/****************************************************************************


vis_smal.rc

produced by Borland Resource Workshop


*****************************************************************************/
#include <windows.h>

//#define IDD_STEREO	7

#define IDD_PROFILESELECT	6
#define IDC_LISTBOX1	101
#define IDC_PROFILELIST	101
#define IDC_STATICTEXT1B 102
#define IDC_STATICMESSAGE	103

#define IDD_SAVEOPTIONS	5
#define IDC_COMBOBOX1	101
#define IDC_COMBOPROFILE	101
#define IDC_BUTTON11	102
#define IDC_LOAD	102
#define IDC_SAVE	103
#define IDC_CLOSE	104
#define IDC_BUTTON12	105
#define IDC_DELETE	105

#define IDD_STYLE	4
#define IDC_BARSTYLE	101
#define IDC_RADIOBUTTON2	102
#define IDC_CLASSIC	102
#define IDC_RADIOBUTTON11	103
#define IDC_FIRE	103
#define IDC_RADIOBUTTON12	104
#define IDC_LINES	104
#define IDC_RADIOBUTTON13	105
#define IDC_WINAMPFIRE	105
#define IDC_BUTTON4	106
#define IDC_RANDOM	106
#define IDC_GROUPBOX3	107
#define IDC_BACKGROUND	107
#define IDC_BG_BLACK	108
#define IDC_BG_SOLID	109
#define IDC_BG_FLASH	110
#define IDC_GROUPBOX7	111
#define IDC_PEAKSTYLE	111
#define IDC_PEAKFADE	112
#define IDC_PEAKLEVEL	113
#define IDC_RADIOBUTTON10	114
#define IDC_PEAKLEVELFADE	114
#define IDC_RADIOBUTTON16	115
#define IDC_BG_GRID	115
#define IDC_RADIOBUTTON17	116
#define IDC_ELEVATOR	116
//#define IDC_GROUPBOX10	117
//#define IDC_GROUPWINDOW	117
#define IDC_GROUPBOX11	118
#define IDC_GROUPATTACHTO	118
//#define IDC_RADIOBUTTON21	119
//#define IDC_ATTACH_WINAMP	119
//#define IDC_ATTACH_SCREEN	120
//#define IDC_GROUPBOX12	121
//#define IDC_GROUPLOCATION	121
//#define IDC_RADIOBUTTON22	122
//#define IDC_LOCATION_TOP	122
//#define IDC_RADIOBUTTON23	123
//#define IDC_LOCATION_BOTTOM	123
#define IDC_RADIOBUTTON24	124
#define IDC_BG_FLASHGRID	124
#define IDC_GROUPBOX13	125
#define IDC_GROUPDRAWEFFECT	125
#define IDC_RADIOBUTTON25	126
#define IDC_EFFECT_NONE	126
#define IDC_RADIOBUTTON26	127
#define IDC_EFFECT_MIRROR	127
#define IDC_RADIOBUTTON27	128
#define IDC_EFFECT_REFLECTION	128
#define IDC_RADIOBUTTON28	129
#define IDC_EFFECT_SHADOW	129
#define IDC_RADIOBUTTON29	130
#define IDC_EFFECT_DSHADOW	130
#define IDC_RADIOBUTTON30	131
#define IDC_EFFECT_SMOKE	131
#define IDC_RADIOBUTTON31	132
#define IDC_EFFECT_WAVES	132
#define IDC_GROUPBOX14	133
#define IDC_GROUPPEAKCOLOUR	133
#define IDC_GROUPBOX15	134
#define IDC_GROUPPEAKMOTION	134
#define IDC_RADIOBUTTON32	135
#define IDC_PEAKEFFECT_NORMAL	135
#define IDC_RADIOBUTTON33	136
#define IDC_PEAKEFFECT_FALL	136
#define IDC_RADIOBUTTON34	137
#define IDC_PEAKEFFECT_RISE	137
#define IDC_RADIOBUTTON35	138
#define IDC_PEAKEFFECT_FALLANDRISE	138
#define IDC_RADIOBUTTON36	139
#define IDC_PEAKEFFECT_RISEFALL	139
#define IDC_RADIOBUTTON37	140
#define IDC_PEAKEFFECT_SPARKS	140
//#define IDC_RADIOBUTTON38	141
//#define IDC_ATTACH_NOTHING	141
#define IDC_RADIOBUTTON39	142
#define IDC_EFFECT_FADESHADOW	142

#define IDM_POPUP	1
#define CM_PROFILES	11845
#define CM_POPUPITEM3	18873
#define CM_ABOUT	11844
#define CM_POPUPITEM2	18873
#define CM_CLOSE	11843
#define CM_POPUPITEM1	18873
#define CM_ITEM1	18873
#define CM_CONFIG	11842

#define IDD_FUNCTION	3
#define IDC_RADIOBUTTON5	101
#define IDC_NATLOG	101
#define IDC_STATICBITMAP1	102
#define IDC_LEVELGRAPH	102
#define IDC_BUTTON1	103
#define IDC_SET	103
#define IDC_BUTTON2	104
#define IDC_ADD	104
#define IDC_GROUPBOX1	105
#define IDC_FUNCTIONGROUP	105
#define IDC_RADIOBUTTON1	106
#define IDC_LOG10	106
#define IDC_RADIBUTTON2 107
#define IDC_LOG20	107
#define IDC_RADIOBUTTON3	108
#define IDC_LOG30	108
#define IDC_RADIOBUTTON4	109
#define IDC_LINEAR	109
#define IDC_RADIOBUTTON6	110
#define IDC_LOG100	110
#define IDC_SINE	111
#define IDC_RADIOBUTTON8	112
#define IDC_SQRT	112
#define IDC_RADIOBUTTON9	113
#define IDC_1OVERX	113
#define IDC_XSQUARED	114
#define IDC_AVERAGE	115
//#define IDC_GROUPBOX4	116
//#define IDC_ELEMENT	116
#define IDC_RADIOBUTTON7	117
#define IDC_FREQBARS	117
#define IDC_RADIOBUTTON14	118
#define IDC_VOLUME	118
#define IDC_GROUPBOX5	119

#define IDD_ANALYZER	1
#define IDC_FALLOFF	101
#define IDC_STATICTEXT1	102
#define IDC_PEAKCHANGE	103
#define IDC_STATICTEXT2	104
#define IDC_FALLOFFVAL	105
#define IDC_PEAKCHANGEVAL	106
//#define IDC_TRACKBAR3	107
//#define IDC_FREQHIGH	107
#define IDC_STATICTEXT5	108
#define IDC_STATICTEXT6	109
//#define IDC_FREQHIGHVAL	109
//#define IDC_TRACKBAR4	110
//#define IDC_FREQLOW	110
#define IDC_STATICTEXT7	111
//#define IDC_FREQLOWVAL	111
#define IDC_STATICTEXT8	112
#define IDC_STATICTEXT9	113
#define IDC_BANDWIDTH	115
#define IDC_XSPACE	116
#define IDC_YSPACE	117
//#define IDC_STATICFRAME1	118
//#define IDC_STATICFRAME2	119
#define IDC_STATICTEXT12	120
#define IDC_GROUPDRAWORDER	121
#define IDC_REVERSELEFT	122
#define IDC_REVERSERIGHT	123
#define IDC_LEVELBASE	124
#define IDC_BASE_UNION	125
#define IDC_BASE_AVERAGE	126
#define IDC_MONO 127
#define IDC_GROUPFFT 128
#define IDC_FFTENVELOPE 129
#define IDC_FFTENVELOPEVAL 130
#define IDC_FFTSCALE 131
#define IDC_FFTSCALEVAL 132
#define IDC_FFTEQUALIZE 133
#define IDC_LATENCYSTATIC 134
#define IDC_LATENCY 135
#define IDC_LATENCYVAL 136
//#define IDC_TRACKBAR8	121
//#define IDC_WINHEIGHT	121
//#define IDC_WINHEIGHTVAL	122

#define IDD_COLOUR	2
#define IDC_STATICBITMAP2	101
#define IDC_BITMAP_RAMP	101
#define IDC_TRACKBAR9	102
#define IDC_LEFTSELECT	102
#define IDC_RIGHTSELECT	103
#define IDC_GROUPBOX6	104
#define IDC_GROUPSET	104
#define IDC_PEAK	105
#define IDC_STATICTEXT4	106
#define IDC_LEFTVAL	106
#define IDC_STATICTEXT11	107
#define IDC_RIGHTVAL	107
#define IDC_STATICBITMAP3	108
#define IDC_BITMAP_LEFT	108
#define IDC_STATICBITMAP4	109
#define IDC_BITMAP_RIGHT	109
#define IDC_STATICTEXT14	110
#define IDC_LEFTRVAL	113
#define IDC_STATICTEXT10	114
#define IDC_LEFTGVAL	114
#define IDC_STATICTEXT16	115
#define IDC_LEFTBVAL	115
#define IDC_STATICTEXT17	116
#define IDC_STATICTEXT18	119
#define IDC_STATICTEXT19	121
#define IDC_RIGHTRVAL	121
#define IDC_STATICTEXT13	122
#define IDC_RIGHTGVAL	122
#define IDC_STATICTEXT15	123
#define IDC_RIGHTBVAL	123
#define IDC_BUTTON3	124
#define IDC_LEFTGET	124
#define IDC_BUTTON5	125
#define IDC_LEFTPUT	125
#define IDC_BUTTON6	126
#define IDC_RIGHTGET	126
#define IDC_BUTTON7	127
#define IDC_RIGHTPUT	127
#define IDC_BUTTON8	128
#define IDC_FADE	128
#define IDC_RED	129
#define IDC_STATICBITMAP5	130
#define IDC_BITMAP_CURCOLOUR	130
#define IDC_STATICTEXT20	131
#define IDC_STATICTEXT21	132
#define IDC_REDVAL	132
#define IDC_STATICTEXT22	133
#define IDC_GREENVAL	133
#define IDC_STATICTEXT23	134
#define IDC_STATICTEXT24	135
#define IDC_BLUEVAL	135
#define IDC_TRACKBAR11	136
#define IDC_GREEN	136
#define IDC_TRACKBAR12	137
#define IDC_BLUE	137
#define IDC_GROUPBOX8	138
#define IDC_STATICGREEN	139
#define IDC_BUTTON9	140
#define IDC_PICKCOLOUR	140
#define IDC_BUTTON10	141
#define IDC_ALLRANDOM	141
#define IDC_GROUPBOX9	142
//#define IDC_RADIOBUTTON18	143
//#define IDC_BORDER1	143
//#define IDC_RADIOBUTTON19	144
//#define IDC_BORDER2	144
//#define IDC_RADIOBUTTON20	145
//#define IDC_BORDER3	145
//#define IDC_BUTTON13	146
//#define IDC_BORDERGET	146
//#define IDC_BUTTON14	147
//#define IDC_BORDERPUT	147
//#define IDC_STATICBITMAP6	148
//#define IDC_BITMAP_BORDER	148
//#define IDC_BUTTON15	149
//#define IDC_GUESSBORDER	149

#ifdef RC_INVOKED

IDD_ANALYZER DIALOG 0, 0, 244, 212
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Analyzer"
FONT 8, "MS Sans Serif"
{
 //CONTROL "Motion", IDC_STATICFRAME2, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 0, 244, 64
 CONTROL "Motion", IDC_GROUPBOX9, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 244, 64
 CONTROL "Frequency Bar Fall-off:", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 8, 76, 9
 CONTROL "888", IDC_FALLOFFVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 84, 8, 20, 8
 CONTROL "TrackBar1", IDC_FALLOFF, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 20, 240, 10
 CONTROL "Peak Indicator Change Rate:", IDC_STATICTEXT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 36, 96, 9
 CONTROL "888", IDC_PEAKCHANGEVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 104, 36, 20, 8
 CONTROL "TrackBar2", IDC_PEAKCHANGE, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 48, 240, 10
 //CONTROL "Frequency Analysis Range (Hz):", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 68, 104, 9
 //CONTROL "0", IDC_FREQLOWVAL, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 112, 68, 24, 8
 //CONTROL "to", IDC_STATICTEXT15, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 136, 68, 12, 9
 //CONTROL "22050", IDC_FREQHIGHVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 68, 24, 8
 //CONTROL "TrackBar3", IDC_FREQHIGH, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 81, 240, 10
 //CONTROL "TrackBar4", IDC_FREQLOW, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 92, 240, 10
 //CONTROL "Bar Appearance", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 107, 244, 65
 CONTROL "Bar Appearance", IDC_GROUPBOX8, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 66, 244, 38
 CONTROL "Bar Width", IDC_STATICTEXT8, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 78, 44, 8
 CONTROL "Horizontal Spacing", IDC_STATICTEXT9, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 100, 78, 68, 8
 CONTROL "Vertical Spacing", IDC_STATICTEXT10, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 78, 56, 8
 CONTROL "TrackBar5", IDC_BANDWIDTH, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 90, 88, 10
 CONTROL "TrackBar6", IDC_XSPACE, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 90, 80, 10
 CONTROL "TrackBar7", IDC_YSPACE, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 90, 60, 10
 //CONTROL "Window Height:", IDC_STATICTEXT12, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 144, 56, 9
 //CONTROL "888", IDC_WINHEIGHTVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 144, 20, 8
 //CONTROL "TrackBar8", IDC_WINHEIGHT, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 156, 240, 10
 CONTROL "Bar Level Calculation", IDC_LEVELBASE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 106, 104, 24
 CONTROL "Average", IDC_BASE_AVERAGE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 118, 42, 8
 CONTROL "Maximum", IDC_BASE_UNION, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 118, 42, 8
 CONTROL "Audio Latency:", IDC_LATENCYSTATIC, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 106, 56, 8
 CONTROL "888", IDC_LATENCYVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 164, 106, 20, 8
 CONTROL "TrackBar1", IDC_LATENCY, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 118, 134, 10
 CONTROL "Bar Values", IDC_GROUPDRAWORDER, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 132, 244, 24
 CONTROL "Reverse Left", IDC_REVERSELEFT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 144, 60, 8
 CONTROL "Reverse Right", IDC_REVERSERIGHT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 144, 64, 8
 CONTROL "Mono", IDC_MONO, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 144, 60, 8
 CONTROL "FFT", IDC_GROUPFFT, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 156, 244, 56
 CONTROL "Envelope:", IDC_STATICTEXT14, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 164, 36, 8
 CONTROL "888", IDC_FFTENVELOPEVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 44, 164, 20, 8
 CONTROL "TrackBar1", IDC_FFTENVELOPE, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 174, 240, 10
 CONTROL "Equalize", IDC_FFTEQUALIZE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 122, 164, 60, 8
 CONTROL "Scale:", IDC_STATICTEXT18, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 188, 24, 8
 CONTROL "888", IDC_FFTSCALEVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 32, 188, 20, 8
 CONTROL "TrackBar2", IDC_FFTSCALE, "msctls_trackbar32", TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 200, 240, 10
}

IDD_COLOUR DIALOG 0, 0, 244, 212
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Colour Factory"
FONT 8, "MS Sans Serif"
{
 CONTROL "888", IDC_LEFTVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 44, 4, 20, 10
 CONTROL "888", IDC_RIGHTVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 76, 4, 20, 10
 CONTROL "LeftColour", IDC_BITMAP_LEFT, "static", SS_BITMAP | SS_REALSIZEIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 24, 104, 19, 17
 CONTROL "LeftRampSelect", IDC_LEFTSELECT, "msctls_trackbar32", TBS_VERT | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 48, 16, 12, 169
 CONTROL "RampBitmap", IDC_BITMAP_RAMP, "static", SS_BITMAP | SS_REALSIZEIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 60, 21, 19, 17
 CONTROL "LeftRampSelect", IDC_RIGHTSELECT, "msctls_trackbar32", TBS_VERT | TBS_TOP | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 76, 16, 12, 169
 CONTROL "RightColour", IDC_BITMAP_RIGHT, "static", SS_BITMAP | SS_REALSIZEIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 92, 104, 19, 17
 CONTROL "R:", IDC_STATICTEXT14, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 124, 12, 9
 CONTROL "888", IDC_LEFTRVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 124, 18, 9
 CONTROL "G:", IDC_STATICTEXT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 134, 12, 9
 CONTROL "888", IDC_LEFTGVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 134, 18, 9
 CONTROL "B:", IDC_STATICTEXT8, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 144, 12, 9
 CONTROL "888", IDC_LEFTBVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 144, 18, 9
 CONTROL "Set", IDC_LEFTGET, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 156, 36, 15
 CONTROL "Select", IDC_LEFTPUT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 172, 36, 15
 CONTROL "R:", IDC_STATICTEXT17, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 94, 124, 12, 9
 CONTROL "888", IDC_RIGHTRVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 108, 124, 18, 9
 CONTROL "G:", IDC_STATICTEXT18, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 94, 134, 12, 9
 CONTROL "888", IDC_RIGHTGVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 108, 134, 18, 9
 CONTROL "B:", IDC_STATICTEXT12, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 94, 144, 12, 9
 CONTROL "888", IDC_RIGHTBVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 108, 144, 18, 9
 CONTROL "Set", IDC_RIGHTGET, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 156, 36, 15
 CONTROL "Select", IDC_RIGHTPUT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 172, 36, 15
 CONTROL "Fade", IDC_FADE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 188, 32, 18
 CONTROL "Set", IDC_GROUPSET, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 17, 40, 47
 CONTROL "Bars", IDC_FREQBARS, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 28, 32, 9
 CONTROL "Peak", IDC_PEAK, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 40, 32, 9
 CONTROL "Flash", IDC_VOLUME, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 52, 32, 9
 CONTROL "Selected Colour", IDC_GROUPBOX8, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 128, 4, 108, 98
 CONTROL "CurrentCOlour", IDC_BITMAP_CURCOLOUR, "static", SS_BITMAP | SS_REALSIZEIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 140, 16, 19, 17
 CONTROL "Red:", IDC_STATICTEXT20, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 132, 40, 24, 8
 CONTROL "888", IDC_REDVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 160, 40, 16, 8
 CONTROL "Red", IDC_RED, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 132, 48, 100, 10
 CONTROL "Green:", IDC_STATICGREEN, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 132, 60, 24, 8
 CONTROL "888", IDC_GREENVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 160, 60, 16, 8
 CONTROL "Green", IDC_GREEN, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 132, 68, 100, 10
 CONTROL "Blue:", IDC_STATICTEXT23, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE, 132, 80, 24, 8
 CONTROL "888", IDC_BLUEVAL, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 160, 80, 16, 8
 CONTROL "Blue", IDC_BLUE, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 132, 88, 100, 10
 CONTROL "Pick Colour...", IDC_PICKCOLOUR, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 176, 16, 52, 17
 CONTROL "Random", IDC_ALLRANDOM, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 188, 56, 18
 //CONTROL "Border Colours", IDC_GROUPBOX9, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 156, 106, 80, 80
 //CONTROL "Outer", IDC_BORDER1, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 119, 44, 9
 //CONTROL "Middle", IDC_BORDER2, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 130, 44, 9
 //CONTROL "Inner", IDC_BORDER3, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 141, 44, 9
 //CONTROL "Get", IDC_BORDERGET, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 154, 32, 12
 //CONTROL "Put", IDC_BORDERPUT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 154, 32, 12
 //CONTROL "BorderColour", IDC_BITMAP_BORDER, "static", SS_BITMAP | SS_REALSIZEIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 204, 120, 19, 17
 //CONTROL "Guess Colours", IDC_GUESSBORDER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 168, 72, 12
}

IDD_FUNCTION DIALOG 0, 0, 240, 212
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Flash Function"
FONT 8, "MS Sans Serif"
{
 CONTROL "Level Graph", IDC_LEVELGRAPH, "static", SS_BITMAP | SS_REALSIZEIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 4, 34, 19, 17
 CONTROL "Function", IDC_FUNCTIONGROUP, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 184, 32, 52, 178
 CONTROL "Linear", IDC_LINEAR, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 44, 44, 14
 CONTROL "Natural Log", IDC_NATLOG, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 60, 44, 14
 CONTROL "Log 10", IDC_LOG10, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 76, 44, 14
 CONTROL "Log 20", IDC_LOG20, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 92, 44, 14
 CONTROL "Log 30", IDC_LOG30, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 108, 44, 14
 CONTROL "Log 100", IDC_LOG100, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 124, 44, 14
 CONTROL "Sine", IDC_SINE, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 140, 44, 14
 CONTROL "Sqr Root", IDC_SQRT, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 156, 44, 14
 CONTROL "1/x", IDC_1OVERX, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 172, 44, 14
 CONTROL "Set", IDC_SET, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 196, 52, 14
 CONTROL "Add", IDC_ADD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 196, 52, 14
 CONTROL "Squared", IDC_XSQUARED, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 188, 44, 14
 CONTROL "Average", IDC_AVERAGE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 196, 52, 14
 //CONTROL "Element", IDC_ELEMENT, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 148, 28
 //CONTROL "Frequency Bars", IDC_FREQBARS, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 15, 64, 12
 //CONTROL "Background Flash", IDC_VOLUME, "button", BS_AUTORADIOBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 15, 70, 12
}

IDM_POPUP MENU 
CHARACTERISTICS 1
{
 POPUP "Popup"
 {
  MENUITEM "&Properties...", CM_CONFIG
  MENUITEM "Pro&files...", CM_PROFILES
  MENUITEM "&Close", CM_CLOSE
  MENUITEM "&About...", CM_ABOUT
 }

}

IDD_STYLE DIALOG 0, 0, 244, 212
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Style"
FONT 8, "MS Sans Serif"
{
 CONTROL "Frequency Bars", IDC_BARSTYLE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 72, 100
 CONTROL "Classic", IDC_CLASSIC, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 20, 56, 8
 CONTROL "Soft Flame", IDC_ELEVATOR, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 32, 56, 8
 CONTROL "Fire", IDC_FIRE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 44, 56, 8
 CONTROL "Solid Lines", IDC_LINES, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 56, 56, 8
 CONTROL "Winamp Fire", IDC_WINAMPFIRE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 68, 56, 8
 CONTROL "Random", IDC_RANDOM, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 84, 44, 13
 CONTROL "Background", IDC_BACKGROUND, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 84, 4, 68, 80
 CONTROL "Black", IDC_BG_BLACK, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 20, 56, 8
 CONTROL "Grid", IDC_BG_GRID, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 32, 56, 8
 CONTROL "Solid Colour", IDC_BG_SOLID, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 44, 56, 8
 CONTROL "Flash", IDC_BG_FLASH, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 56, 56, 8
 CONTROL "Flash Grid", IDC_BG_FLASHGRID, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 68, 56, 8
 CONTROL "Peak Indicators", IDC_PEAKSTYLE, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 164, 4, 72, 152
 CONTROL "Colour", IDC_GROUPPEAKCOLOUR, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 15, 64, 49
 CONTROL "Fade", IDC_PEAKFADE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 26, 48, 8
 CONTROL "Level", IDC_PEAKLEVEL, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 38, 48, 8
 CONTROL "Level && Fade", IDC_PEAKLEVELFADE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 50, 56, 8
 CONTROL "Motion", IDC_GROUPPEAKMOTION, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 68, 64, 84
 CONTROL "Normal", IDC_PEAKEFFECT_NORMAL, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 78, 40, 10
 CONTROL "Fall", IDC_PEAKEFFECT_FALL, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 90, 40, 10
 CONTROL "Rise", IDC_PEAKEFFECT_RISE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 102, 40, 10
 CONTROL "Fall && Rise", IDC_PEAKEFFECT_FALLANDRISE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 114, 48, 10
 CONTROL "Rise Fall", IDC_PEAKEFFECT_RISEFALL, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 126, 48, 10
 CONTROL "Sparks", IDC_PEAKEFFECT_SPARKS, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 138, 40, 10
 //CONTROL "Window", IDC_GROUPWINDOW, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 107, 72, 89
 //CONTROL "Attach To", IDC_GROUPATTACHTO, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 116, 56, 44
 //CONTROL "WinAmp", IDC_ATTACH_WINAMP, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 128, 44, 8
 //CONTROL "Screen", IDC_ATTACH_SCREEN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 138, 44, 8
 //CONTROL "Nothing", IDC_ATTACH_NOTHING, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 148, 44, 8
 //CONTROL "Location", IDC_GROUPLOCATION, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 160, 56, 32
 //CONTROL "Top", IDC_LOCATION_TOP, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 170, 36, 8
 //CONTROL "Bottom", IDC_LOCATION_BOTTOM, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 180, 36, 8
 CONTROL "Drawing Effect", IDC_GROUPDRAWEFFECT, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 80, 88, 80, 108
 CONTROL "None", IDC_EFFECT_NONE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 100, 64, 10
 CONTROL "Mirror", IDC_EFFECT_MIRROR, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 112, 64, 10
 CONTROL "Reflection", IDC_EFFECT_REFLECTION, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 124, 64, 10
 CONTROL "Reflection Waves", IDC_EFFECT_WAVES, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 136, 72, 10
 CONTROL "Shadow", IDC_EFFECT_SHADOW, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 148, 64, 10
 CONTROL "Double Shadow", IDC_EFFECT_DSHADOW, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 160, 64, 10
 CONTROL "Smoke", IDC_EFFECT_SMOKE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 184, 64, 10
 CONTROL "Fade Shadow", IDC_EFFECT_FADESHADOW, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 172, 64, 10
}

IDD_SAVEOPTIONS DIALOGEX 0, 0, 203, 108
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Profiles"
FONT 8, "MS Sans Serif"
{
 CONTROL "Profile", IDC_COMBOPROFILE, "combobox", CBS_SIMPLE | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 4, 136, 100
 CONTROL "Load", IDC_LOAD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 4, 44, 17
 CONTROL "Save", IDC_SAVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 24, 44, 17
 CONTROL "Close", IDC_CLOSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 80, 44, 17
 CONTROL "Delete", IDC_DELETE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 44, 44, 17
}

IDD_PROFILESELECT DIALOG 0, 0, 240, 212
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Profiles"
FONT 8, "MS Sans Serif"
{
 CONTROL "SelectProfile", IDC_PROFILELIST, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 16, 136, 140
 CONTROL "Saved Profiles", IDC_STATICTEXT1B, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 48, 4, 112, 8
 CONTROL "", IDC_STATICMESSAGE, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 8, 164, 220, 43
}

/*IDD_STEREO DIALOG 0, 0, 244, 212
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE
CAPTION "Stereo"
FONT 8, "MS Sans Serif"
{
 CONTROL "Drawing Order", IDC_GROUPDRAWORDER, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 3, 80, 39
 CONTROL "Reverse Left", IDC_REVERSELEFT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 16, 60, 9
 CONTROL "Reverse Right", IDC_REVERSERIGHT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 27, 60, 9
}*/

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Classic Spectrum Analyzer\0"
            VALUE "FileVersion", "1.1.0.0\0"
            VALUE "InternalName", "vis_classic\0"
            VALUE "LegalCopyright", "© 2007 Mike Lynch\0"
            VALUE "OriginalFilename", "vis_classic.dll\0"
#ifdef _DEBUG
            VALUE "SpecialBuild", "Debug\0"
#endif
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC

#endif // RC_INVOKED
